
	<section class="absolute subHeight battles">
		<div class="container">
			<div class="big-grey-stripe bigger hide"></div>	
			<div class="loadAnimation battles absolute pinned transition">
				<div data-parallax='{"y" : -300, "from-scroll": 50, "smoothness": 20}'>
					<div class="animated rotateInDownLeft absolute wow" data-wow-delay="0.25s">
						<div id="firstPartBattles" class="absolute transition"></div>
					</div>
				</div>
				<div data-parallax='{"y" : -400, "from-scroll": 50, "smoothness": 20}'>
					<div class="animated rotateInDownLeft absolute wow" data-wow-delay="0.5s">
					<div id="secondPartBattles" class="absolute transition"></div></div>
				</div>
				<div data-parallax='{"y" : -200, "from-scroll": 50, "smoothness": 20}'>
					<div class="animated rotateInDownLeft absolute wow" data-wow-delay="0.75s">
					<div id="thirdPartBattles" class="absolute transition"></div></div>
				</div>
				<div data-parallax='{"y" : -100, "from-scroll": 50, "smoothness": 20}'>
					<div class="animated rotateInDownLeft absolute wow" data-wow-delay="1.0s">
					<div id="fourthPartBattles" class="absolute transition"></div></div>
				</div>
			</div>
		</div>
	</section>