
	<section class="absolute subHeight" data-parallax='{"y" : -400, "smoothness": 20}'>
		<div class="container relative">
			<div class="big-grey-stripe about-us bigger hide"></div>	
			<div class="additional-parts absolute about-us" data-parallax='{"y" : -400, "smoothness": 20}'>
				<div id="topPartAbout" class="transition hide absolute animated fadeInDown wow" data-wow-delay="1.25s"></div>
				<div id="middlePart" class="transition hide"></div>			
			</div>	
			<div class="additional-parts absolute about-us" data-parallax='{"y" : -400, "from-scroll": 20, "smoothness": 20}'>
				<div id="middlePartAbout" class="transition hide absolute animated fadeInDown wow" data-wow-delay="1.5s"></div>		
			</div>	
			<div class="additional-parts absolute about-us" data-parallax='{"y" : -400, "from-scroll": 40, "smoothness": 20}'>
				<div id="bottomPartAbout" class="transition hide absolute animated fadeInDown wow" data-wow-delay="1.75s"></div>		
			</div>	
		</div>
	</section>