
	<section class="absolute subHeight">
		<div class="container relative">
			<div class="big-grey-stripe bigger hide"></div>	
			<div class="additional-parts absolute" data-parallax='{"y" : -400, "from-scroll": 200, "smoothness": 20}'>
				<div id="topPart" class="partners transition hide"></div>
				<div id="middlePart" class="transition hide"></div>
			</div>	
			<div class="loadAnimation speakers absolute pinned transition">
				<div data-parallax='{"y" : -200, "from-scroll": 0, "smoothness": 20}'>
				<div id="secondPart" class="partners absolute transition"></div>
				</div>
				<div data-parallax='{"y" : -100, "from-scroll": 0, "smoothness": 20}'>
				<div id="fourthPart" class="partners absolute transition"></div>
				</div>
			</div>
		</div>
	</section>