<section class="absolute subHeight">
    <div class="container relative">
        <div class="big-grey-stripe bigger hide"></div>

        <div class="additional-parts absolute" data-parallax='{"y" : -200, "from-scroll": 40, "smoothness": 20}'>
            <div class="rotate-45">
                <div id="thirdPartWorkshops" class="transition hide absolute animated fadeInDown wow" data-wow-delay="0.4s"></div>
            </div>
        </div>
        <div class="additional-parts absolute" data-parallax='{"y" : -400, "from-scroll": 40, "smoothness": 20}'>
            <div class="rotate-45">
                <div id="fourthPartWorkshops" class="transition hide absolute animated fadeInDown wow" data-wow-delay="0.6s"></div>
            </div>
        </div>
        <div class="additional-parts absolute" data-parallax='{"y" : -800, "from-scroll": 40, "smoothness": 20}'>
            <div id="secondPartWorkshops" class="transition hide absolute animated fadeInDown wow" data-wow-delay="0.2s"></div>
        </div>
        <div class="additional-parts absolute" data-parallax='{"y" : -1000, "from-scroll": 20, "smoothness": 20}'>
            <div id="firstPartWorkshops" class="transition hide absolute animated fadeInDown wow" data-wow-delay="0s"></div>
        </div>

    </div>
</section>