<section class="absolute subHeight">
    <div class="container relative">
        <div class="big-grey-stripe bigger hide"></div>

        <div class="loadAnimation speakers absolute pinned transition">

            <div data-parallax='{"y" : -300, "from-scroll": 50, "smoothness": 20}'>
                <div id="firstPartWorkshops" class="absolute transition"></div>
            </div>
            <div data-parallax='{"y" : -300, "from-scroll": 60, "smoothness": 20}'>
                <div id="secondPartWorkshops" class="absolute transition"></div>
            </div>
            <div data-parallax='{"y" : -300, "from-scroll": 65, "smoothness": 20}'>
                <div id="thirdPartWorkshops" class="absolute transition"></div>
            </div>
            <div data-parallax='{"y" : -300, "from-scroll": 70, "smoothness": 20}'>
                <div id="fourthPartWorkshops" class="absolute transition"></div>
            </div>

        </div>
    </div>
</section>