
	<section class="absolute fullHeight">
		<div class="container relative">
			<div class="grey-stripe hide"></div>
			<div class="big-grey-stripe hide"></div>
			<div class="loadAnimation absolute pinned transition flex flex-center">
				<div class="imageCenter absolute">
					<img src="img/preloaderBG.png" alt="preloader" />
				</div>
				<div id="orangeSquare" class="absolute slideInDown animated wow" data-wow-delay="0.2s"></div>
				<div id="redSquare" class="absolute slideInLeft animated wow" data-wow-delay="0.4s"></div>
				<div id="yellowTriangle" class="absolute slideInUp animated wow" data-wow-delay="0.6s"></div>
				<div id="blueTriangle" class="absolute slideInRight animated wow" data-wow-delay="0.8s"></div>
			</div>
		</div>
	</section>