
	<section class="absolute subHeight">
		<div class="container relative">
			<div class="big-grey-stripe bigger hide"></div>	
			<div class="additional-parts absolute" data-parallax='{"y" : -400, "from-scroll": 200, "smoothness": 20}'>
				<div id="topPart" class="transition hide"></div>
				<div id="middlePart" class="transition hide"></div>	
				<div id="bottomPart" class="transition hide"></div>		
			</div>	
			<div class="loadAnimation speakers absolute pinned transition">
				<div data-parallax='{"y" : -300, "from-scroll": 60, "smoothness": 20}'>
				<div id="secondPart" class="absolute transition"></div>
				</div>
				<div data-parallax='{"y" : -300, "from-scroll": 70, "smoothness": 20}'>
				<div id="fourthPart" class="absolute transition"></div>
				</div>
			</div>
		</div>
	</section>