
	<section class="absolute subHeight battles" data-parallax='{"y" : -400, "smoothness": 20}'>
		<div class="container">
			<div class="big-grey-stripe bigger hide"></div>	
			<div class="loadAnimation battles absolute pinned transition">
				<div data-parallax='{"y" : -300, "smoothness": 20}'>
					<div class="rotateInDownLeft absolute">
						<div id="firstPartBattles" class="absolute transition battle-part"></div>
					</div>
				</div>
				<div data-parallax='{"y" : -400, "smoothness": 20}'>
					<div class="rotateInDownLeft absolute">
					<div id="secondPartBattles" class="absolute transition battle-part"></div></div>
				</div>
				<div data-parallax='{"y" : -200, "smoothness": 20}'>
					<div class="rotateInDownLeft absolute">
					<div id="thirdPartBattles" class="absolute transition battle-part"></div></div>
				</div>
				<div data-parallax='{"y" : -100, "smoothness": 20}'>
					<div class="rotateInDownLeft absolute">
					<div id="fourthPartBattles" class="absolute transition battle-part"></div></div>
				</div>
			</div>
		</div>
	</section>