
	<div class="sideBar hidden absolute transition fullHeight">
		<div class="inner-content right">
			<div class="lang">
				<a class="changeLang" href="?lang=<?php echo $toChange; ?>"><?php echo LANGUAGE;?></a>
				<div class="close">
					<span class="menu-close"></span>
				</div>
			</div>
			<ul class="nav clearfix">
				<li><a href=""><?php echo HOMEPAGE;?></a></li>
				<li><a href="speakers"><?php echo SPEAKERS;?></a></li>
				<li><a href="program"><?php echo PROGRAM;?></a></li>
				<li><a href="place"><?php echo PLACE;?></a></li>
				<li><a href="partners"><?php echo PARTNERS;?></a></li>
				<li><a href="about-us"><?php echo ABOUT_US;?></a></li>
				<li class="bilety"><a href="tickets"><?php echo TICKETS;?></a></li>
			</ul>
			<div class="socials">
				<a href="mailto:"><i class="fa fa-envelope"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
			</div>
		</div>
	</div>
	<div class="overlay clear"></div>