
	<div class="sideBar hidden absolute transition fullHeight">
		<div class="inner-content right">
			<div class="lang">
				<a class="changeLang" href="?lang=<?php echo $toChange; ?>"><?php echo LANGUAGE;?></a>
				<div class="close">
					<span class="menu-close"></span>
				</div>
			</div>
			<ul class="nav clearfix">
				<li><a href="/?lang=<?php echo $_SESSION['lang'];?>"><?php echo HOMEPAGE;?></a></li>
				<li><a href="speakers?lang=<?php echo $_SESSION['lang'];?>"><?php echo SPEAKERS;?></a></li>
				<li><a href="schedule?lang=<?php echo $_SESSION['lang'];?>"><?php echo PROGRAM;?></a></li>
				<li><a href="workshops?lang=<?php echo $_SESSION['lang'];?>"><?php echo WORKSHOPS;?></a></li>
				<li><a href="venue?lang=<?php echo $_SESSION['lang'];?>"><?php echo PLACE;?></a></li>
				<li><a href="partners?lang=<?php echo $_SESSION['lang'];?>"><?php echo PARTNERS;?></a></li>
				<li><a href="about?lang=<?php echo $_SESSION['lang'];?>"><?php echo ABOUT_US;?></a></li>
			</ul>
			<div class="socials">
				<a href="mailto:"><i class="fa fa-envelope"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
			</div>
		</div>
	</div>
	<div class="overlay clear"></div>