			<a href="#" class="event-left-link animScrollLink transition">
				<img src="img/projections.png" alt="Projekcje" class="transition">
				<img src="img/projections-hover.png" class="absolute hover-logo transition" alt="Projekcje Logo">
				<div class="toRight">
					<span><?php echo PROJECTS;?></span>
					<p class="label">POZ 2016</p>
					<p class="smallNote">Event dla projektantów, <br> przez projektantów"</p>
				</div>
			</a>
			<div class="aside battles left absolute yellow hide side-link no-background">
				<div class="rotate-90 vertically-text">
					<a href="/about-us?lang=<?php echo $_SESSION['lang'];?>" class="reset-link"><?php echo PROJECTS_LINK;?></a>
				</div>
			</div>
			<div class="startDate absolute">
				<div class="rotate-90">
					<p class="date-sign">Start: <span>01-10-2016</span> </p>
				</div>
			</div>