<a href="/?lang=<?php echo $_SESSION['lang'];?>" class="event-left-link animScrollLink transition">
	<img src="img/projections.png" alt="Projekcje" class="transition">
	<img src="img/projections-hover.png" class="absolute hover-logo transition" alt="Projekcje Logo">
	<span class="transition"><?php echo PROJECTS;?></span>
</a>

<div class="aside left absolute yellow side-link">
	<a href="/?lang=<?php echo $_SESSION['lang'];?>" class="absolute fill flex-center flex">

                    <span>
                        <span class="rotate-90 vertically-text">
                            <span class="reset-link"><?php echo PROJECTS_LINK;?></span>
                        </span>
                    </span>
	</a>
</div>

<div class="startDate absolute">
	<p class="date-sign"><span>Start: </span><span class="date">15-09-2016</span> </p>
	<p class="date-sign shift"><span>Koniec: </span><span class="date">15-10-2016</span> </p>
</div>