			<a href="#" class="event-left-link animScrollLink transition">
				<img src="img/projections.png" alt="Projekcje" class="transition">
                <img src="img/projections-hover.png" class="absolute hover-logo transition" alt="Projekcje Logo">
                <span class="transition"><?php echo PROJECTS;?></span>
			</a>

            <a href="<?php echo $ticketsLink; ?>" class="tickets event-link yellow animScrollLink transition"><?php echo TICKETS;?></a>

            <div class="aside left absolute yellow side-link">
                <a href="battles?lang=<?php echo $_SESSION['lang'];?>" class="absolute fill flex-center flex">

                    <span>
                        <span class="rotate-90 vertically-text">
                            <span class="reset-link"><?php echo BATTLES;?></span>
                        </span>
                        <span class="rotate-90 cross-element vertically-text"></span>
                    </span>
                </a>
            </div>