			<a href="#" class="event-left-link hide">
				<img src="img/projections.png" alt="Projekcje"> 
				<span><?php echo PROJECTS;?></span>
			</a>
			<a href="#" class="event-link yellow"><?php echo TICKETS;?></a>
			<div class="aside left absolute yellow hide side-link">
				<a href="battles" class="absolute fill">
                    <span class="cross-element"></span>
                    
					<span class="rotate-90 vertically-text">
						<span class="reset-link"><?php echo BATTLES;?></span>
					</span>
				</a>
			</div>